@import "compass/reset"
@import "compass/css3"
@import "compass/utilities/general/clearfix"

body, input, textarea
  margin: 40px
  color: #888
  background: #222
  font: 16px/1.625em "Helvetica Neue", tahoma, sans-serif
  -webkit-font-smoothing: antialiased


#wrap, #wrap-t
  width: 900px
  margin: 0 auto

#wrap-t
  width: 100vw

.timelineblock
  display: block

ul.swatches
  +pie-clearfix

.timelineSwatch
  display: block

li.swatch, .timelineSwatch
  width: 20px
  height: 10px
  margin-right: 2px
  background: #dddddd
  float: left
  +transition( all .5s)
  &:hover
    +transition( none)
    +scale(1.2, 1.2)
    +box-shadow( 0 1px 10px black)
  &:first-child
    +border-left-radius(2px)
  &:last-child
    +border-right-radius(2px)

.swatch > a
  height: 100%
  width: 100%
  display: block

div.timeline-event,div.timeline-event-box
  background: none
  border-color: transparent
  border-style: none


div.timeline-event-selected
  border: none

div.timeline-axis-grid-minor
  color: transparent
  border-color: transparent
